<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698207711611-43sgok77j9c78up0j45ntheboecdjqcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698207711611-43sgok77j9c78up0j45ntheboecdjqcm</string>
	<key>API_KEY</key>
	<string>AIzaSyB5mmZ9a5uoVIpS4mIlRM4nu6Oe9MRDqxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>698207711611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HCHO.Hurd</string>
	<key>PROJECT_ID</key>
	<string>hurd-b805b</string>
	<key>STORAGE_BUCKET</key>
	<string>hurd-b805b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698207711611:ios:c5b092a2a1481a5787cdde</string>
</dict>
</plist>